.job__feed{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}


.job__card{
    width: 20rem;
    height: 29rem;
    border-radius: 15px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
    margin: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.company__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.company__logo{
    width: 3.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
}

.company__name{
    font-size: 0.78rem;
    font-weight: bold;
    color: #8b8b8b;
}
.job__role{
    margin: 0.2rem 0;
    font-size: 0.95rem;
}
.job__location{
    font-size: 0.65rem;
    font-weight: 500;
}

.estimated__salary{
    margin: 0.5rem 0;
}

.company__job__details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.description__header{
    font-weight: 600;
}

.short__job__description{
    height: 8rem;
    overflow: hidden;
    mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.view__more__section{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.view__more__btn{
    outline: none;
    border: none;
    background: transparent;
    color: #4943da;
    margin: 0.2rem 0;
    cursor: pointer;
}

.experience__section{
    margin: 0.5rem 0;
}

.min__exp__label{
    font-size: 0.9rem;
    font-weight: bolder !important;
    color: #8b8b8b;
}

.min__exp__req{
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

.easy__apply__btn, .referral__btn{
    width: 100%;
    border-radius: 10px !important;
    margin: 0.5rem 0 !important;
    padding: 0.6rem 0 !important;
}

.easy__apply__btn{
    background: rgb(85, 239, 196) !important;
    color: black !important;
}

.referral__btn{
    background: rgb(73, 67, 218) !important;
    color: white !important;
}