.fieldset__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fieldset{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
}


.filter__fields{
    width: 15rem;
    margin: 0.5rem;
}

.input__field{
    margin: 0.5rem !important;
}
